@model IEnumerable<ScrapTrack.Data.Models.Item>

@{
    ViewBag.Title = "Search Items";
}

<h2>Items</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ItemName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ItemWeight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ItemType)
    </td>
    <td class="text-end">
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })
    </td>
</tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create", "Item", new { @class = "btn btn-success" })
</p>