@model ScrapTrack.Core.Models.DashboardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mmodal-partialview {
        display: none;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="pagetitle">Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-8">
            <div class="tabs">
                <button class="tablinks active">Donations</button>
                <button class="tablinks">Volunteers</button>
                <button class="tablinks">Items</button>
            </div>
            <div class="tabcontent-container">
                <div id="transactions" class="tabcontent active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h4>Recent Donations</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control search-box" type="text" id="tranactionsNameInput" placeholder="Search" title="Type in a search term">
                                    </div>
                                    <div class="col-md-6">
                                        <btn class="btn btn-primary mmodal-btn btnAddTransaction">Give Items</btn>
                                    </div>
                                </div>
                                <div id="partial-transactions-list">
                                    @{ await Html.RenderPartialAsync("~/Views/Transactions/_ListTransactions.cshtml", Model.TransactionList); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="volunteers" class="tabcontent">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h4>All Volunteers</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control search-box" type="text" id="volunteerNameInput" placeholder="Search" title="Type in a search term">
                                    </div>
                                    <div class="col-md-6">
                                        <btn class="btn btn-primary mmodal-btn btnAddVolunteer">New Volunteer</btn>
                                    </div>
                                </div>
                                <div id="partial-volunteer-list">
                                    @{ await Html.RenderPartialAsync("~/Views/Volunteers/_ListVolunteers.cshtml", Model.VolunteerList); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="items" class="tabcontent">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h4>All Items</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control search-box" type="text" id="descriptionInput" placeholder="Search" title="Type in a search term">
                                    </div>
                                    <div class="col-md-6">
                                        <btn class="btn btn-primary mmodal-btn btnAddItem">New Item</btn>
                                    </div>
                                </div>
                                <div id="partial-item-list">
                                    @{ await Html.RenderPartialAsync("~/Views/Items/_ListItems.cshtml", Model.ItemList); }
                                </div>

                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h5>Quick Actions</h5>
            <div class="container quickaction">
                <div class="row">
                    <btn class="btn btn-outline-secondary mmodal-btn quickaction-link btnGiveItem">Give Items</btn>
                </div>
                <div class="row">
                    <btn class="btn btn-outline-secondary mmodal-btn quickaction-link btnAddVolunteer">New Volunteer</btn>
                </div>
                <div class="row">
                    <btn class="btn btn-outline-secondary mmodal-btn quickaction-link btnAddItem">New Item</btn>
                </div>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("~/Views/Shared/_Modal.cshtml"); }

<script>
    $(document).ready(function () {
        /* Tabs
        ******************************************************************/
        $('.tablinks').on('click', function (e) {
            e.preventDefault();
            tabs = $('.tablinks');
            tabsContent = $('.tabcontent');
            activeTab = $('.tablinks.active')[0];
            activeTabContent = $('.tabcontent.active')[0];

            if (activeTab !== e.target) {
                activeTab.className = activeTab.className.replace(' active', '');
                e.target.className += ' active';
                activeTab = $('.tablinks.active')[0];

                for (i = 0; i < tabsContent.length; i++) {
                    if (tabs[i] === e.target) {
                        activeTabContent.className = activeTabContent.className.replace(' active', '');
                        tabsContent[i].className += ' active';
                        activeTabContent = tabsContent[i];
                    }
                }
            }
        });

        /* Search Boxes
        ******************************************************************/
        $('#volunteerNameInput').on('keyup', function () {
            input = document.getElementById("volunteerNameInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("volunteerTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                firstName = tr[i].getElementsByTagName("td")[0].innerText.toUpperCase();
                lastName = tr[i].getElementsByTagName("td")[1].innerText.toUpperCase();
                fullName = firstName + ' ' + lastName;

                if (fullName !== undefined) {
                    if (fullName.indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        });

        $('#descriptionInput').on('keyup', function () {
            input = document.getElementById("descriptionInput");
            filter = input.value.toUpperCase();
            console.log(filter)
            table = document.getElementById("itemTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                description = tr[i].getElementsByTagName("td")[0].innerText.toUpperCase();

                if (description !== undefined) {
                    if (description.indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        });

        /* Modal activation for quick action buttons
        ******************************************************************/
        $('.btnGiveItem').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SelectVolunteer", "Transactions")',
                success: function (result) {
                    $("#partial-content").html(result);
                }
            });
        });

        $('.btnAddVolunteer').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create", "Volunteers")',
                success: function (result) {
                    $("#partial-content").html(result);
                }
            });
        });

        $('.btnAddItem').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create", "Items")',
                success: function (result) {
                    $("#partial-content").html(result);
                }
            });
        });

        /* POST for Item & Volunteer creation
        ******************************************************************/
        $('#partial-content').on('click', '#submitVolunteerDetails', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Volunteers")',
                data: $('form').serialize(),
                success: function (result) {
                    console.log(result);
                    $("#partial-content").html(result);

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("List", "Volunteers")',
                        success: function (listResult) {
                            $("#partial-volunteer-list").html(listResult);
                        }
                    })
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });

        $('#partial-content').on('click', '#submitItemDetails', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Items")',
                data: $('form').serialize(),
                success: function (result) {
                    $("#partial-content").html(result);

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("List", "Items")',
                        success: function (listResult) {
                            $("#partial-item-list").html(listResult);
                        }
                    });
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });
    });
</script>
