@model ScrapTrack.Data.Models.Volunteer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Volunteer Details</h1>
<hr />

<div id="volunteerDetails">
    @Html.Partial("~/Views/Volunteers/_DetailVolunteer.cshtml", Model)
</div>
<hr />
<div>
    <a class="btn btn-primary mmodal-btn btnEditVolunteer" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>

@Html.Partial("~/Views/Shared/_Modal.cshtml")

<script>
    $(document).ready(function () {
        $('.btnEditVolunteer').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit", "Volunteers", new { id = Model.Id })',
                success: function (result) {
                    $("#partial-content").html(result);
                }
            });
        });

        $('#partial-content').on('click', '#submitEditedVolunteer', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit", "Volunteers", new { id = Model.Id })',
                data: $('form').serialize(),
                success: function (result) {
                    $("#partial-content").html(result);

                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("DetailsPartial", "Volunteers", new { id = Model.Id })',
                        success: function (result) {
                            $('#volunteerDetails').html(result);
                        }
                    });
                }
            });
        });
    });
</script>