@model IEnumerable<ScrapTrack.Data.Models.Item>


<div class="dt-vertical-scroll">
    <table class="table" id="itemTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th class="last-header">
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-item-id="@item.Id">
                    <td>
                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Description)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
